<div class="user-index-all">
<% @users.each do |user| %>
<div class="user-index">
    <div class="user-index-image user-index-content" style="background-image: url(<%= rails_blob_path(user.image)%>) "></div>
    <div class="user-index-content index-name-parts">
      <a class="user-index-name" href="/users/<%= user.id %>"><%= user.nickname %></a>
      <p class="user-index-path"><%= user.user_path %></p>
    </div>
    <div class="user-index-content index-story-parts">
      <h3 class="userindex-story-top">story</h3>
      <% user.stories.each do |story| %>
          <a class="userindex-story" href="/stories/<%= story.id %>"><%= story.title %></a>
      <% end %>
    </div>
</div>
<div class="index-fan-parts">
      <p class="fan-parts fan-count">ファン数 <%= user.followers.count %>人</p>
      <% if user_signed_in? %>
      <div class="fan-parts"><%= render "relationships/follow_button", user: user %></div>
      <% end %>
</div>
<% end %>
<%= paginate(@users) %>
</div>