<div class="user-contents">
  <div class="follow-button">
    <p class="fan-parts fan-count">ファン数 <%= @user.followers.count %>人</p>
    <div class="fan-parts"><%= render "relationships/follow_button", user: @user %></div>
  </div> 
  <div class="user-show-image user-show-top" style="background-image: url(<%= rails_blob_path(@user.image)%>) "></div>
  <div class="user-show-top user-name-parts">
    <h1 class="user-show-name name-group"><%= @user.nickname %></h1>
    <h4 class="name-group show-name-path"><%= @user.user_path %></h4>
</div>
</div> 
 
<h2 class="user-contents user-contents-top">story</h2>
<div class="user-contents user-story-block">
  <% @user.stories.each do |story| %>
    <a class="user-show-story" href="/stories/<%= story.id %>"><%= story.title %></a>
  <% end %>
</div>
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <%= link_to "プロフィール編集", edit_user_path, class:"user-edit" %>
  <% end %>
<% end %>
<div class="all-cut"></div>
<div class="comment-form-box">
  <%= render :partial => "comments/comment_form", :locals => { user: @user, comment: @comment } %>
</div>
<div class="comment-all">
  <%= render :partial => "comments/comment_table", :collection => @comments, :as => "comment" %> 
</div>  