<div class="all-story">
<% @stories.each do |story| %>
<div class="story-box">
    <div class="story-block story-image" style="background-image: url(<%= rails_blob_path(story.image)%>) "></div>
    <div class="story-block story-tb"> 
      <a href="/stories/<%= story.id %>" class="story-wp story-title">
          <%= story.title %>
      </a>
      <p class="story-wp story-text">
          <%= story.text %>
      </p>
    </div>   
    <div class="story-block">
     <a href="" class="story-sub story-un">
      # <%= story.user.nickname %>
     </a> 
     <a href="/stories/<%= story.id %>" class=" story-sub story-read">
       >>>read
     </a>
    </div>
</div>
<% end %>
</div>