<!DOCTYPE html>
<html>
  <head>
    <title>YourStory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <link rel="stylesheet" href="normalize.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="header">
    <div class="top ht-6">
      <a href="/" class="title grid-6">
        YourStory
      </a>
    </div>
      <div class="top haji">
       <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post' %>
        </div>
      <% else %>
        <div class="user_nav grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "アカウント登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
   </header>
    <div class="big_box left-contents">
    <%= yield %>
    </div>
    <div class="big_box right-contents">
      <% if user_signed_in? %>
      <div class="border_outer">
      <div class="border_inner"><%= link_to "ストーリーをつくる", new_story_path, class:"top-right"%></div>
      </div>
      <% end %>
      <a href="/stories" class="in-right">▶︎ ストーリーページへ</a>
      <a href="/users" class="in-right">▶︎ ユーザーページへ</a>
      <% if user_signed_in? %>
      <%= link_to "▶︎ Myページへ", user_path(current_user),class:"in-right"%>
      <% end %>
    </div>
  </body>
</html>
